
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'IBM Plex Sans JP', sans-serif;
    font-family: 'Courier New','Zen Kurenaido', sans-serif;
}
.container {
    background-color: #ffffff;
    padding: 50px;
    margin: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.timer {
    font-size: 2em;
    color: #333333;
    margin: 20px;
    font-variant-numeric: tabular-nums;
}
#toggleButton {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
#toggleButton:hover {
    background-color: #0056b3;
}
